/* .nombre_titulo_cliente{
    margin-right: 6px;
}

.div_titulo_cliente{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
} */

/* .my-custom-field {
    background-color: rgb(198, 230, 173) !important;
} */

.o_list_view .o_data_row {
    background-color: #e7e7e7 !important;
    color: #000000 !important;
    border-color: #e7e7e7 !important;
}

.o_list_view .o_data_row:hover {
    background-color: #f6f6f6 !important;
    border-color: #f6f6f6 !important;
}

.tabla_view table thead > tr > th {
    background-color: #3d3d3d !important;
    border-color: #3d3d3d !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    color: #ffffff !important;
}

.my-kanban {
    background-color: #f9f9f9 !important; /* Color de fondo para la vista Kanban */
    border: 1px solid #ccc !important; /* Borde alrededor de la vista */
    padding: 10px !important; /* Espaciado interno */
}

.oe_kanban_global_click{
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: #3d3d3d !important;
    color: #ffffff !important;
    border-radius: 8px !important;
    /* width: 100% !important; */
}

.oe_kanban_global_click:hover{
    background-color: #4f4f4f !important;
}

.oe_kanban_card {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important; /* Sombra para las tarjetas */
    margin-bottom: 15px !important; /* Margen entre las tarjetas */
    border-radius: 8px !important; /* Esquinas redondeadas */
    width: 45% !important;
    height: 45% !important;
}

.oe_kanban_details {
    padding: 10px !important; /* Espaciado interno en los detalles de la tarjeta */
    /* width: 45% !important; */
}

/* .div_image {
    width: 50% !important;
} */

.oe_kanban_image {
    border-radius: 8px 8px 0 0 !important; /* Esquinas redondeadas en la imagen */
    width: 9rem !important; /* Imagen ocupa todo el ancho */
    height: 9rem !important; /* Mantiene la relación de aspecto */
}

.oe_kanban_title {
    font-weight: bold !important; /* Título en negrita */
    color: #333 !important; /* Color del texto del título */
}

.oe_kanban_state {
    /* color: #007bff !important; */
    font-style: italic !important; /* Estilo cursivo para el estado */
}

/* .my-custom-tree {
    background-color: #e7e7e7 !important;
    border: 1px solid #3d3d3d !important;
}

.my-custom-tree th {
    background-color: #3d3d3d !important;
    color: #ffffff !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

.my-custom-tree td {
    background-color: #e7e7e7 !important;
    color: #000000 !important;
    border: 1px solid #ffffff !important;
}

.my-custom-tree tr:hover {
    background-color: #f6f6f6 !important;
} */

.my-form {
    background-color: #f9f9f9 !important; /* Color de fondo */
    border: 1px solid #ccc !important; /* Borde alrededor del formulario */
    padding: 20px !important; /* Espaciado interno */
    border-radius: 8px !important; /* Esquinas redondeadas */
}

.my-form h1 {
    color: #007bff !important; /* Color del título */
    font-size: 24px !important; /* Tamaño del título */
}

.my-form .oe_field {
    margin-bottom: 15px !important; /* Espacio entre campos */
    /* background-color: #f9f9f9 !important;  */
    border: 1.5px solid #000 !important; /* Borde alrededor de los campos */
    border-radius: 4px !important; /* Esquinas redondeadas para los campos */
    padding: 6px !important; /* Espaciado interno en los campos */
    /* padding-left: 0px !important; */
    width: 100% !important;
    transition: border-color 0.3s !important; /* Transición suave para el borde */
}

.my-form .oe_button {
    background-color: #007bff !important; /* Color de fondo para botones */
    color: white !important; /* Color del texto del botón */
    border-radius: 5px !important; /* Esquinas redondeadas para botones */
}

.my-form .oe_button:hover {
    background-color: #ccc !important; /* Color al pasar el mouse sobre el botón */
}

.my-many2one-field {
    border: 1.5px solid #000 !important; /* Borde azul alrededor del campo */
    border-radius: 4px !important; /* Esquinas redondeadas */
    padding: 6px !important;
    /* padding-left: 0px !important; */
    width: 100% !important;
    /* padding: 5px; */
    background-color: #f9f9f9 !important; /* Color de fondo */
    transition: border-color 0.3s !important; /* Transición suave para el borde */
}

/* .div_field{

} */

.o_field_widget_we {
    /* height: 90px !important; */
    line-height: 30px !important;
    border-radius: 4px !important;
    text-align: center !important;
    /* padding-left: 10px !important; */
    border: 1.5px solid #000 !important;
    width: 100% !important;
    /* background-color: #8c8bf4 !important;  */
}

.o_field_widget_we:hover {
    border: 0.5px solid #000 !important;
}

.textarea_form {
    /* height: 90px !important; */
    height: 100px !important;
    border-radius: 4px !important;
    padding-left: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border: 1.5px solid #000 !important;
    width: 100% !important;
    /* background-color: #8c8bf4 !important;  */
}

.my-many2one-field:focus {
    border-color: #0056b3 !important; /* Color del borde al enfocar el campo */
    box-shadow: 0 0 5px rgba(0,123,255,0.5) !important; /* Sombra al enfocar */
}